In [81]:
import tweepy
import pandas as pd
import config

In [82]:
#Import api Keys
api_key=config.API_KEY
api_key_secret=config.API_KEY_SECRET
access_token=config.ACCESS_TOKEN
access_token_secret=config.ACCESS_TOKEN_SECRET

In [83]:
#Authentication Instance
auth= tweepy.OAuth1UserHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)

In [98]:
#Search tweets by keyword
keyword= '#AMLO'
limit=1000

#get tweets
tweets = tweepy.Cursor(api.search_tweets, q=keyword, count=100,tweet_mode='extended').items(limit)

In [99]:
#DF Columns
columns = ['User','User_id', 'Tweet','Sentiment']
columns_1 = [ 'User_id','Retweet_Count','Location','Verified_Account', 'Geo_enabled','Lang']

#List to store the Data
data = []
data_1=[]
users_id = []
for tweet in tweets:

    
    if tweet.user.geo_enabled == True:  
        if len(tweet.full_text)<100:
            Sentiment = 'Positive'
        else: 
            Sentiment = 'Negative'
        #Define Variables    
        User= tweet.user.screen_name
        User_id= tweet.user.id
        Tweet = tweet.full_text
        Retweet_count=tweet.retweet_count
        Location=tweet.user.location
        Verified= tweet.user.verified
        Geo_enabled = tweet.user.geo_enabled


        data.append([User, User_id, Tweet,Sentiment])
        data_1.append([User_id,Retweet_count,Location,Verified, Geo_enabled,Lang])

df = pd.DataFrame(data, columns=columns)
df_1= pd.DataFrame(data_1,columns=columns_1)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [97]:
#Print DF
df

Empty DataFrame
Columns: [User, User_id, Tweet, Sentiment]
Index: []

In [87]:
#Print DF_1
df_1

,User_id,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang
0,1324899378717454336,24,,False,True,es
1,117586382,0,cdmx,False,True,es
2,293808048,1,,False,True,es
3,13319102,1,"Guadalajara, Jalisco",True,True,es
4,23003655,1,Mexico City,False,True,es
...,...,...,...,...,...,...
519,1168192165341741056,1,,False,True,und
520,969234757,5,,False,True,es
521,157035562,21,"Leon,Gto.\n",False,True,es
522,3136489285,8,,False,True,es
523,983111761699262465,18,,False,True,es

In [88]:
#Safe Data Into CSV
df.to_csv('Twitter_data.csv')
df_1.to_csv('User_Data.csv')

In [89]:
#Conection To Data Base
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@tw-database.cusa4qve384u.us-east-1.rds.amazonaws.com:5432/postgres')

In [90]:
#Send Data to Data BAse
df.to_sql('Twitter_data', engine,if_exists='replace')
df_1.to_sql('User_Data', engine,if_exists='replace')