In [1]:
import tweepy
import pandas as pd
import config
import requests
from sqlalchemy import create_engine
import numpy as np

In [2]:
#Import api Keys
api_key=config.API_KEY
api_key_secret=config.API_KEY_SECRET
access_token=config.ACCESS_TOKEN
access_token_secret=config.ACCESS_TOKEN_SECRET
open_weather_API= config.OW_API

In [3]:
#Authentication Instance
auth= tweepy.OAuth1UserHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)

In [30]:
#Search tweets by keyword
keyword= 'amlo'
limit=60

#get tweets
tweets = tweepy.Cursor(api.search_tweets, q=keyword, count=100,tweet_mode='extended').items(limit)

In [31]:
#DF Columns
columns = ['User','User_id', 'Tweet','Sentiment']
columns_1 = [ 'User_id','Retweet_Count','Location','Verified_Account', 'Geo_enabled','Lang','Post Date']

#List to store the Data
data = []
data_1=[]
users_id = []
for tweet in tweets:

    
    if tweet.lang == 'es':  
        if len(tweet.full_text)<100:
            Sentiment = 'Positive'
        else: 
            Sentiment = 'Negative'
        #Define Variables    
        User= tweet.user.screen_name
        User_id= tweet.user.id
        Tweet = tweet.full_text
        Retweet_count=tweet.retweet_count
        Location=tweet.user.location
        Verified= tweet.user.verified
        Geo_enabled = tweet.user.geo_enabled
        Lang = tweet.lang
        
        Date = tweet.created_at
        print(Date)


        data.append([User, User_id, Tweet,Sentiment])
        data_1.append([User_id,Retweet_count,Location,Verified, Geo_enabled,Lang, Date])

df = pd.DataFrame(data, columns=columns)
df_1= pd.DataFrame(data_1,columns=columns_1)

2022-02-25 02:29:41+00:00
2022-02-25 02:29:40+00:00
2022-02-25 02:29:40+00:00
2022-02-25 02:29:40+00:00
2022-02-25 02:29:39+00:00
2022-02-25 02:29:38+00:00
2022-02-25 02:29:38+00:00
2022-02-25 02:29:38+00:00
2022-02-25 02:29:38+00:00
2022-02-25 02:29:38+00:00
2022-02-25 02:29:37+00:00
2022-02-25 02:29:37+00:00
2022-02-25 02:29:36+00:00
2022-02-25 02:29:36+00:00
2022-02-25 02:29:36+00:00
2022-02-25 02:29:35+00:00
2022-02-25 02:29:35+00:00
2022-02-25 02:29:34+00:00
2022-02-25 02:29:34+00:00
2022-02-25 02:29:33+00:00
2022-02-25 02:29:33+00:00
2022-02-25 02:29:33+00:00
2022-02-25 02:29:32+00:00
2022-02-25 02:29:31+00:00
2022-02-25 02:29:30+00:00
2022-02-25 02:29:30+00:00
2022-02-25 02:29:28+00:00
2022-02-25 02:29:26+00:00
2022-02-25 02:29:26+00:00
2022-02-25 02:29:24+00:00
2022-02-25 02:29:24+00:00
2022-02-25 02:29:23+00:00
2022-02-25 02:29:22+00:00
2022-02-25 02:29:21+00:00
2022-02-25 02:29:21+00:00
2022-02-25 02:29:20+00:00
2022-02-25 02:29:20+00:00
2022-02-25 02:29:19+00:00
2022-02-25 02:29:19+00:00
2022-02-25 02:29:18+00:00
2022-02-25 02:29:16+00:00
2022-02-25 02:29:16+00:00
2022-02-25 02:29:15+00:00
2022-02-25 02:29:14+00:00
2022-02-25 02:29:14+00:00
2022-02-25 02:29:11+00:00
2022-02-25 02:29:11+00:00
2022-02-25 02:29:10+00:00
2022-02-25 02:29:10+00:00
2022-02-25 02:29:10+00:00
2022-02-25 02:29:10+00:00
2022-02-25 02:29:09+00:00
2022-02-25 02:29:09+00:00
2022-02-25 02:29:09+00:00
2022-02-25 02:29:09+00:00
2022-02-25 02:29:08+00:00
2022-02-25 02:29:07+00:00
2022-02-25 02:29:06+00:00
2022-02-25 02:29:05+00:00
2022-02-25 02:29:04+00:00

In [32]:
#Print DF
df.tail()

,User,User_id,Tweet,Sentiment
55,Magdale36949321,1325286779210133504,RT @Talipocket: 🪡2.2/6 ¿Por qué no has respeta...,Negative
56,GerardoVelzque1,382245098,RT @Paulguerra16: ¡No cabe duda!\nSomos afortu...,Negative
57,MarianaCinquet1,1468714874352115718,RT @leonelangello9: Sin rodeos...\nQuien esta ...,Negative
58,Betty22617373,1352451711999336448,RT @SinLinea_Mx: 👉México está preparado para r...,Negative
59,_Ci_Vil,91870046,RT @latinus_us: #Loret Capítulo 73. En medio d...,Negative

In [33]:
df_1.tail()

,User_id,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date
55,1325286779210133504,1,,False,False,es,2022-02-25 02:29:08+00:00
56,382245098,11,Edomex,False,False,es,2022-02-25 02:29:07+00:00
57,1468714874352115718,94,,False,False,es,2022-02-25 02:29:06+00:00
58,1352451711999336448,183,En algún lugar de México🍃,False,False,es,2022-02-25 02:29:05+00:00
59,91870046,373,Mexico,False,True,es,2022-02-25 02:29:04+00:00

In [34]:
#Print DF_1
df_Loc = df_1['Location'].str.split(',', 1,expand=True)
df_Loc.columns = ['City','State']
df_clean=df_Loc.drop(columns=['State'])
#df = df.replace(',','', regex=True)

df_join = df_1.join(df_clean)
df_join.replace("", np.NAN, inplace=True)
df_join.dropna(subset=['City'], inplace=True)


df_join

,User_id,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date,City
1,1450870890380480513,11,Santiago Pinotepa Nacional,False,False,es,2022-02-25 02:29:40+00:00,Santiago Pinotepa Nacional
2,1258566499,29,"Norman, OK",False,True,es,2022-02-25 02:29:40+00:00,Norman
5,453169494,373,"Isla Mujeres, Quintana Roo",False,False,es,2022-02-25 02:29:38+00:00,Isla Mujeres
7,192263163,0,"Colima, México",False,False,es,2022-02-25 02:29:38+00:00,Colima
10,176853247,164,ciudad de México,False,True,es,2022-02-25 02:29:37+00:00,ciudad de México
11,627141840,770,México,False,True,es,2022-02-25 02:29:37+00:00,México
15,114936200,668,México,False,True,es,2022-02-25 02:29:35+00:00,México
17,36068930,4177,mexico,False,True,es,2022-02-25 02:29:34+00:00,mexico
18,775778495884435456,0,"Puebla, México",False,False,es,2022-02-25 02:29:34+00:00,Puebla
24,1067252791926755328,2,"Houston, TX/ Nuevo León",False,False,es,2022-02-25 02:29:30+00:00,Houston
25,872090488874049536,373,"Michoacán de Ocampo, México",False,True,es,2022-02-25 02:29:30+00:00,Michoacán de Ocampo
26,99878657,150,"Guadalupe, Nuevo León",False,True,es,2022-02-25 02:29:28+00:00,Guadalupe
27,995827576131211267,368,Santa Fe de Guanajuato,False,False,es,2022-02-25 02:29:26+00:00,Santa Fe de Guanajuato
28,2833418358,104,🌎,False,False,es,2022-02-25 02:29:26+00:00,🌎
34,316214906,402,"México, D.F.",False,False,es,2022-02-25 02:29:21+00:00,México
35,117614153,25,Aguascalientes,False,False,es,2022-02-25 02:29:20+00:00,Aguascalientes
37,882670650501890048,478,"Baja California, México",False,False,es,2022-02-25 02:29:19+00:00,Baja California
38,928854126255136768,4177,"Distrito Federal, México",False,False,es,2022-02-25 02:29:19+00:00,Distrito Federal
39,42985686,31,Pais Equivocado,False,True,es,2022-02-25 02:29:18+00:00,Pais Equivocado
48,45042836,402,Oaxaca city,False,True,es,2022-02-25 02:29:10+00:00,Oaxaca city
50,705128703051739136,558,Mty,False,False,es,2022-02-25 02:29:10+00:00,Mty
52,2768322847,0,topofdeguorld,False,False,es,2022-02-25 02:29:09+00:00,topofdeguorld
54,1484865040285110276,46,"Mérida, Yucatán",False,False,es,2022-02-25 02:29:09+00:00,Mérida
56,382245098,11,Edomex,False,False,es,2022-02-25 02:29:07+00:00,Edomex
58,1352451711999336448,183,En algún lugar de México🍃,False,False,es,2022-02-25 02:29:05+00:00,En algún lugar de México🍃
59,91870046,373,Mexico,False,True,es,2022-02-25 02:29:04+00:00,Mexico

In [35]:
#Get Lat & Lon"
data_lat = []
data_lon = []

cities =[]
countries =[]

for index, row in df_join.iterrows():
    city = str(row['City'])  
    if city not in cities :    

        Query_url= ('http://api.openweathermap.org/geo/1.0/direct?q='+city+'&limit=1&appid='+open_weather_API)

        try:
            r = requests.get(Query_url)
            data = r.json()[0]
            Lat = str(data['lat'])
            Lon = str(data['lon'])
            Country = str(data['country'])
            data_lat.append(Lat)
            data_lon.append(Lon)
            cities.append(city)
            countries.append(Country)


            print("La latitud de "+city+" es = "+Lat)
            
        except Exception as e :
            data_lat.append(np.NaN)
            data_lon.append(np.NaN)
            countries.append(np.NaN)

            
            print("Error desconociddo, status code =", e)
    else :
            data_lat.append(np.NaN)
            data_lon.append(np.NaN)
            countries.append(Country)


    
print(data_lat)
df_join['Lat']=data_lat
df_join['Lon']=data_lon
df_join['Country']=countries

La latitud de Santiago Pinotepa Nacional es = 16.3406076
La latitud de Norman es = 35.2225717
La latitud de Isla Mujeres es = 21.2321047
La latitud de Colima es = 19.2451909
La latitud de ciudad de México es = 19.4326296
La latitud de México es = 19.4326296
La latitud de mexico es = 19.4326296
La latitud de Puebla es = 19.0437196
La latitud de Houston es = 29.7589382
La latitud de Michoacán de Ocampo es = 32.4647879
La latitud de Guadalupe es = 39.4520201
Error desconociddo, status code = list index out of range
Error desconociddo, status code = list index out of range
La latitud de Aguascalientes es = 21.8806553
La latitud de Baja California es = 27.3662261
La latitud de Distrito Federal es = 19.4326296
Error desconociddo, status code = list index out of range
La latitud de Oaxaca city es = 17.0604663
La latitud de Mty  es = 23.0012303
Error desconociddo, status code = list index out of range
La latitud de Mérida es = 38.9174665
Error desconociddo, status code = list index out of range
Error desconociddo, status code = list index out of range
La latitud de Mexico es = 19.4326296
['16.3406076', '35.2225717', '21.2321047', '19.2451909', '19.4326296', '19.4326296', nan, '19.4326296', '19.0437196', '29.7589382', '32.4647879', '39.4520201', nan, nan, nan, '21.8806553', '27.3662261', '19.4326296', nan, '17.0604663', '23.0012303', nan, '38.9174665', nan, nan, '19.4326296']

In [36]:
df_clean = df_join.dropna()
df_clean.count()

User_id             18
Retweet_Count       18
Location            18
Verified_Account    18
Geo_enabled         18
Lang                18
Post Date           18
City                18
Lat                 18
Lon                 18
Country             18
dtype: int64

In [37]:
df_clean

,User_id,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date,City,Lat,Lon,Country
1,1450870890380480513,11,Santiago Pinotepa Nacional,False,False,es,2022-02-25 02:29:40+00:00,Santiago Pinotepa Nacional,16.3406076,-98.0536701,MX
2,1258566499,29,"Norman, OK",False,True,es,2022-02-25 02:29:40+00:00,Norman,35.2225717,-97.4394816,US
5,453169494,373,"Isla Mujeres, Quintana Roo",False,False,es,2022-02-25 02:29:38+00:00,Isla Mujeres,21.2321047,-86.73222812171971,MX
7,192263163,0,"Colima, México",False,False,es,2022-02-25 02:29:38+00:00,Colima,19.2451909,-103.720828,MX
10,176853247,164,ciudad de México,False,True,es,2022-02-25 02:29:37+00:00,ciudad de México,19.4326296,-99.1331785,MX
11,627141840,770,México,False,True,es,2022-02-25 02:29:37+00:00,México,19.4326296,-99.1331785,MX
17,36068930,4177,mexico,False,True,es,2022-02-25 02:29:34+00:00,mexico,19.4326296,-99.1331785,MX
18,775778495884435456,0,"Puebla, México",False,False,es,2022-02-25 02:29:34+00:00,Puebla,19.0437196,-98.1981486,MX
24,1067252791926755328,2,"Houston, TX/ Nuevo León",False,False,es,2022-02-25 02:29:30+00:00,Houston,29.7589382,-95.3676974,US
25,872090488874049536,373,"Michoacán de Ocampo, México",False,True,es,2022-02-25 02:29:30+00:00,Michoacán de Ocampo,32.4647879,-115.3092148,MX
26,99878657,150,"Guadalupe, Nuevo León",False,True,es,2022-02-25 02:29:28+00:00,Guadalupe,39.4520201,-5.3276183,ES
35,117614153,25,Aguascalientes,False,False,es,2022-02-25 02:29:20+00:00,Aguascalientes,21.8806553,-102.2961323,MX
37,882670650501890048,478,"Baja California, México",False,False,es,2022-02-25 02:29:19+00:00,Baja California,27.3662261,-113.39046345506426,MX
38,928854126255136768,4177,"Distrito Federal, México",False,False,es,2022-02-25 02:29:19+00:00,Distrito Federal,19.4326296,-99.1331785,MX
48,45042836,402,Oaxaca city,False,True,es,2022-02-25 02:29:10+00:00,Oaxaca city,17.0604663,-96.7253575,MX
50,705128703051739136,558,Mty,False,False,es,2022-02-25 02:29:10+00:00,Mty,23.0012303,57.7802859,OM
54,1484865040285110276,46,"Mérida, Yucatán",False,False,es,2022-02-25 02:29:09+00:00,Mérida,38.9174665,-6.3443977,ES
59,91870046,373,Mexico,False,True,es,2022-02-25 02:29:04+00:00,Mexico,19.4326296,-99.1331785,MX

In [38]:
#Safe Data Into CSV
df.to_csv('Twitter_data.csv')
df_clean.to_csv('User_Data.csv')

In [39]:
#Conection To Data Base

engine = create_engine('postgresql://postgres:postgres@tw-database.cusa4qve384u.us-east-1.rds.amazonaws.com:5432/postgres')

In [40]:
#Send Data to Data BAse
df.to_sql('Twitter_data', engine,if_exists='replace')
df_clean.to_sql('User_Data', engine,if_exists='replace')

In [41]:
df_final = df.set_index('User_id').join(df_clean.set_index('User_id'))
df_final_2 = df_final.dropna()
df_final_2

,User,Tweet,Sentiment,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date,City,Lat,Lon,Country
User_id,,,,,,,,,,,,,
36068930,charlyfi,RT @LillyTellez: México es mucho país para con...,Negative,4177.0,mexico,False,True,es,2022-02-25 02:29:34+00:00,mexico,19.4326296,-99.1331785,MX
45042836,feliperobles,RT @kenialopezr: El Jefe de Estado es Marcelo....,Negative,402.0,Oaxaca city,False,True,es,2022-02-25 02:29:10+00:00,Oaxaca city,17.0604663,-96.7253575,MX
91870046,_Ci_Vil,RT @latinus_us: #Loret Capítulo 73. En medio d...,Negative,373.0,Mexico,False,True,es,2022-02-25 02:29:04+00:00,Mexico,19.4326296,-99.1331785,MX
99878657,ivantotti100,RT @PublimetroMX: AMLO aseguró que México “no ...,Negative,150.0,"Guadalupe, Nuevo León",False,True,es,2022-02-25 02:29:28+00:00,Guadalupe,39.4520201,-5.3276183,ES
117614153,gustart10,"RT @GenioJmm: AMLO está fortaleciendo PEMEX, C...",Negative,25.0,Aguascalientes,False,False,es,2022-02-25 02:29:20+00:00,Aguascalientes,21.8806553,-102.2961323,MX
176853247,romeropatricia,RT @jgnaredo: *La carta se envió en 2020.\n\n*...,Negative,164.0,ciudad de México,False,True,es,2022-02-25 02:29:37+00:00,ciudad de México,19.4326296,-99.1331785,MX
192263163,macosta68,"En realidad, el conflicto en Ucrania, invasión...",Negative,0.0,"Colima, México",False,False,es,2022-02-25 02:29:38+00:00,Colima,19.2451909,-103.720828,MX
453169494,orliaguirre,RT @latinus_us: #Loret Capítulo 73. En medio d...,Negative,373.0,"Isla Mujeres, Quintana Roo",False,False,es,2022-02-25 02:29:38+00:00,Isla Mujeres,21.2321047,-86.73222812171971,MX
627141840,rdog_1964,RT @kenialopezr: El gobierno mexicano debe ser...,Negative,770.0,México,False,True,es,2022-02-25 02:29:37+00:00,México,19.4326296,-99.1331785,MX
1258566499,Alexemetyler,"RT @joel_valdezn: Así como están las cosas, AM...",Negative,29.0,"Norman, OK",False,True,es,2022-02-25 02:29:40+00:00,Norman,35.2225717,-97.4394816,US
705128703051739136,OmarRomoP,RT @abrahamendieta: Por andar haciendo el ridí...,Negative,558.0,Mty,False,False,es,2022-02-25 02:29:10+00:00,Mty,23.0012303,57.7802859,OM
775778495884435456,pepe_vigil,@Claudiashein @lopezobrador_ No fue el hijo de...,Negative,0.0,"Puebla, México",False,False,es,2022-02-25 02:29:34+00:00,Puebla,19.0437196,-98.1981486,MX
872090488874049536,Ahora_MICH,RT @latinus_us: #Loret Capítulo 73. En medio d...,Negative,373.0,"Michoacán de Ocampo, México",False,True,es,2022-02-25 02:29:30+00:00,Michoacán de Ocampo,32.4647879,-115.3092148,MX
882670650501890048,SergioPeaMiran1,RT @LaChiquisYareli: #ÚLTIMAHORA\n\nAMLO orden...,Negative,478.0,"Baja California, México",False,False,es,2022-02-25 02:29:19+00:00,Baja California,27.3662261,-113.39046345506426,MX
928854126255136768,alfonso_tierra,RT @LillyTellez: México es mucho país para con...,Negative,4177.0,"Distrito Federal, México",False,False,es,2022-02-25 02:29:19+00:00,Distrito Federal,19.4326296,-99.1331785,MX
1067252791926755328,HildaSalinasG,RT @JJoesystem: @GuilleVidalMx AMLO utilizó es...,Negative,2.0,"Houston, TX/ Nuevo León",False,False,es,2022-02-25 02:29:30+00:00,Houston,29.7589382,-95.3676974,US
1450870890380480513,cayetanodonato1,RT @piojo22e: La fachiza pide a gritos que AML...,Negative,11.0,Santiago Pinotepa Nacional,False,False,es,2022-02-25 02:29:40+00:00,Santiago Pinotepa Nacional,16.3406076,-98.0536701,MX
1484865040285110276,SantiagoSF75,RT @Ismma_Tm: La política social y bienestar d...,Negative,46.0,"Mérida, Yucatán",False,False,es,2022-02-25 02:29:09+00:00,Mérida,38.9174665,-6.3443977,ES

In [42]:
df_final_2.to_sql('Tweet_User', engine,if_exists='replace')

In [ ]:
r = requests.get('http://api.openweathermap.org/geo/1.0/direct?q=acapulco&limit=5&appid=3807f646ceb305ae314ef537d740df20')

data = r.json()[0]
data

In [15]:
df_grouped=df_final_2.groupby('Country').sum()
print(df_grouped)

         Retweet_Count
Country
AR              7001.0
BO               333.0
BR              1787.0
CA                 8.0
CL               999.0
CN                64.0
CO             15571.0
CR                13.0
CU               904.0
DE               116.0
DO                 2.0
EC              1732.0
ES              3578.0
FJ                 0.0
FR               302.0
GB                 6.0
GT                28.0
HN                47.0
ID                17.0
IL               195.0
IT               247.0
JP                54.0
MX               608.0
NI               204.0
NL                 0.0
PA              1272.0
PE                53.0
PH               188.0
PY                83.0
RU                33.0
SV                12.0
US               492.0
UY               152.0
VE              1263.0

In [22]:
engine = create_engine('postgresql://postgres:r0b04rm@35.236.20.138:5432/postgres')

In [23]:
load_csv = pd.read_csv('/Users/danie/Downloads/orders_test.csv')
df_reset= load_csv.set_index('id_station')
df_reset

,station_id_station,user_name,product_name,amount,status,transactions_id_transacctions
id_station,,,,,,
1,1,Daniel,B1T1,1,Gen,2035
50,1,Francisco Javier,B2T1,1,Gen,2036
1,1,Victor,B1T3,1,Gen,2037
51,1,Luis,B2T3,1,Gen,2038
52,1,Luis,B3T3,1,Gen,2039
49,1,Luis,B1T2,1,Gen,2040
1,1,Pablo,B2T2,1,Gen,2041
50,1,Pablo,B3T2,1,Gen,2042
1,1,Luis,B4T2,1,Gen,2043
51,1,Luis,B5T2,1,Gen,2044
52,1,Luis,B6T2,1,Gen,2045
49,1,Luis,B7T2,1,Gen,2046
49,1,Luis,B4T3,1,Gen,2047
50,1,Luis,B5T3,1,Gen,2048
49,1,Luis,B6T3,1,Gen,2049

In [25]:
df_reset.to_sql('orders_test', engine,if_exists='replace', index=True)

In [20]:
load_csv.set_index('id_station')
load_csv

,id_station,station_id_station,user_name,product_name,amount,status,transactions_id_transacctions
0,1,1,Daniel,B1T1,1,Gen,2035
1,50,1,Francisco Javier,B2T1,1,Gen,2036
2,1,1,Victor,B1T3,1,Gen,2037
3,51,1,Luis,B2T3,1,Gen,2038
4,52,1,Luis,B3T3,1,Gen,2039
5,49,1,Luis,B1T2,1,Gen,2040
6,1,1,Pablo,B2T2,1,Gen,2041
7,50,1,Pablo,B3T2,1,Gen,2042
8,1,1,Luis,B4T2,1,Gen,2043
9,51,1,Luis,B5T2,1,Gen,2044
10,52,1,Luis,B6T2,1,Gen,2045
11,49,1,Luis,B7T2,1,Gen,2046
12,49,1,Luis,B4T3,1,Gen,2047
13,50,1,Luis,B5T3,1,Gen,2048
14,49,1,Luis,B6T3,1,Gen,2049