In [1]:
import tweepy
import pandas as pd
import config
import requests
from sqlalchemy import create_engine
import numpy as np
import string
from string import  Template

from collections import Counter
from statistics import mode

In [2]:

#Funcion para converit una lista de tuples en lista de diccionarios
def get_list_of_dict(keys, list_of_tuples):
     """
     This function will accept keys and list_of_tuples as args and return list of dicts
     """
     list_of_dict = [dict(zip(keys, values)) for values in list_of_tuples]
     return list_of_dict

In [3]:
#abrir archivo txt que contiene lista de stop words en español
a_file = open("spanish.txt", "r")

#convertir palabras del txt a una lista 
list_of_lists = []
for line in a_file:
  stripped_line = line.strip()
  #line_list = stripped_line.split()
  list_of_lists.append(stripped_line)


a_file.close()
print(list_of_lists)

['rt', '', 'de', 'la', 'que', 'el', 'en', 'y', 'a', 'los', 'del', 'se', 'las', 'por', 'un', 'para', 'con', 'no', 'una', 'su', 'al', 'lo', 'como', 'más', 'pero', 'sus', 'le', 'ya', 'o', 'este', 'sí', 'porque', 'esta', 'entre', 'cuando', 'muy', 'sin', 'sobre', 'también', 'me', 'hasta', 'hay', 'donde', 'quien', 'desde', 'todo', 'nos', 'durante', 'todos', 'uno', 'les', 'ni', 'contra', 'otros', 'ese', 'eso', 'ante', 'ellos', 'e', 'esto', 'mí', 'antes', 'algunos', 'qué', 'unos', 'yo', 'otro', 'otras', 'otra', 'él', 'tanto', 'esa', 'estos', 'mucho', 'quienes', 'nada', 'muchos', 'cual', 'poco', 'ella', 'estar', 'estas', 'algunas', 'algo', 'nosotros', 'mi', 'mis', 'tú', 'te', 'ti', 'tu', 'tus', 'ellas', 'nosotras', 'vosostros', 'vosostras', 'os', 'mío', 'mía', 'míos', 'mías', 'tuyo', 'tuya', 'tuyos', 'tuyas', 'suyo', 'suya', 'suyos', 'suyas', 'nuestro', 'nuestra', 'nuestros', 'nuestras', 'vuestro', 'vuestra', 'vuestros', 'vuestras', 'esos', 'esas', 'estoy', 'estás', 'está', 'estamos', 'estáis', 'están', 'esté', 'estés', 'estemos', 'estéis', 'estén', 'estaré', 'estarás', 'estará', 'estaremos', 'estaréis', 'estarán', 'estaría', 'estarías', 'estaríamos', 'estaríais', 'estarían', 'estaba', 'estabas', 'estábamos', 'estabais', 'estaban', 'estuve', 'estuviste', 'estuvo', 'estuvimos', 'estuvisteis', 'estuvieron', 'estuviera', 'estuvieras', 'estuviéramos', 'estuvierais', 'estuvieran', 'estuviese', 'estuvieses', 'estuviésemos', 'estuvieseis', 'estuviesen', 'estando', 'estado', 'estada', 'estados', 'estadas', 'estad', 'he', 'has', 'ha', 'hemos', 'habéis', 'han', 'haya', 'hayas', 'hayamos', 'hayáis', 'hayan', 'habré', 'habrás', 'habrá', 'habremos', 'habréis', 'habrán', 'habría', 'habrías', 'habríamos', 'habríais', 'habrían', 'había', 'habías', 'habíamos', 'habíais', 'habían', 'hube', 'hubiste', 'hubo', 'hubimos', 'hubisteis', 'hubieron', 'hubiera', 'hubieras', 'hubiéramos', 'hubierais', 'hubieran', 'hubiese', 'hubieses', 'hubiésemos', 'hubieseis', 'hubiesen', 'habiendo', 'habido', 'habida', 'habidos', 'habidas', 'soy', 'eres', 'es', 'somos', 'sois', 'son', 'sea', 'seas', 'seamos', 'seáis', 'sean', 'seré', 'serás', 'será', 'seremos', 'seréis', 'serán', 'sería', 'serías', 'seríamos', 'seríais', 'serían', 'era', 'eras', 'éramos', 'erais', 'eran', 'fui', 'fuiste', 'fue', 'fuimos', 'fuisteis', 'fueron', 'fuera', 'fueras', 'fuéramos', 'fuerais', 'fueran', 'fuese', 'fueses', 'fuésemos', 'fueseis', 'fuesen', 'sintiendo', 'sentido', 'sentida', 'sentidos', 'sentidas', 'siente', 'sentid', 'tengo', 'tienes', 'tiene', 'tenemos', 'tenéis', 'tienen', 'tenga', 'tengas', 'tengamos', 'tengáis', 'tengan', 'tendré', 'tendrás', 'tendrá', 'tendremos', 'tendréis', 'tendrán', 'tendría', 'tendrías', 'tendríamos', 'tendríais', 'tendrían', 'tenía', 'tenías', 'teníamos', 'teníais', 'tenían', 'tuve', 'tuviste', 'tuvo', 'tuvimos', 'tuvisteis', 'tuvieron', 'tuviera', 'tuvieras', 'tuviéramos', 'tuvierais', 'tuvieran', 'tuviese', 'tuvieses', 'tuviésemos', 'tuvieseis', 'tuviesen', 'teniendo', 'tenido', 'tenida', 'tenidos', 'tenidas', 'tened']

In [4]:
#Conection To Data Base
engine = create_engine('postgresql://postgres:postgres@tw-database.cusa4qve384u.us-east-1.rds.amazonaws.com:5432/postgres')

In [5]:
#Import api Keys
api_key=config.API_KEY
api_key_secret=config.API_KEY_SECRET
access_token=config.ACCESS_TOKEN
access_token_secret=config.ACCESS_TOKEN_SECRET
open_weather_API= config.OW_API

In [6]:
#Authentication Instance
auth= tweepy.OAuth1UserHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)

In [7]:
#Search tweets by keyword
keyword= 'Rusia'
limit=100

#get tweets
tweets = tweepy.Cursor(api.search_tweets, q=keyword, count=100,tweet_mode='extended').items(limit)

In [8]:
#DF Columns
columns = ['User','User_id', 'Tweet','Sentiment']
columns_1 = [ 'User_id','Retweet_Count','Location','Verified_Account', 'Geo_enabled','Lang','Post Date']

#List to store the Data
data = []
data_1=[]
users_id = []
for tweet in tweets:
    #Buscar solo tweets en español
    if tweet.lang == 'es': 
        #se asigna un sentimiento por defecto 'Mock' para tener datos,  
        if len(tweet.full_text)<100:
            Sentiment = 'Positive'
        else: 
            Sentiment = 'Negative'
        #Define Variables    
        User= tweet.user.screen_name
        User_id= tweet.user.id
        Tweet = tweet.full_text
        Retweet_count=tweet.retweet_count
        Location=tweet.user.location
        Verified= tweet.user.verified
        Geo_enabled = tweet.user.geo_enabled
        Lang = tweet.lang
        
        Date = tweet.created_at

        
        data.append([User, User_id, Tweet,Sentiment])
        data_1.append([User_id,Retweet_count,Location,Verified, Geo_enabled,Lang, Date])
#Crear DF con los datos adquiridos
df = pd.DataFrame(data, columns=columns)
df_1= pd.DataFrame(data_1,columns=columns_1)

In [9]:
#Divid la el texto en la columna de 'Location'
df_Loc = df_1['Location'].str.split(',', 1,expand=True)
#Crear nueva columna con los datos separados en coudad y pais
df_Loc.columns = ['City','State']
df_clean=df_Loc.drop(columns=['State'])

#reemplazar las celdas vacias con Nan
df_join = df_1.join(df_clean)
df_join.replace("", np.NAN, inplace=True)
#Eliminar Nan's
df_join.dropna(subset=['City'], inplace=True)

df_join

,User_id,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date,City
8,2839550015,0,"Elche, España",False,False,es,2022-03-10 07:29:52+00:00,Elche
10,423531356,6,"Madrid, Spain",False,True,es,2022-03-10 07:29:51+00:00,Madrid
12,202747621,60,"Warsaw, Poland",False,True,es,2022-03-10 07:29:50+00:00,Warsaw
13,360594544,4,España,False,False,es,2022-03-10 07:29:50+00:00,España
14,1259267905,89,"Madrid, Comunidad de Madrid",False,True,es,2022-03-10 07:29:49+00:00,Madrid
15,409581802,3,España,False,True,es,2022-03-10 07:29:49+00:00,España
16,1366627628,2,"Terrassa, España",False,True,es,2022-03-10 07:29:49+00:00,Terrassa
17,917840288353222656,0,"Madrid, Comunidad de Madrid",False,False,es,2022-03-10 07:29:49+00:00,Madrid
20,1010203633818963969,2,Right behind you...,False,False,es,2022-03-10 07:29:46+00:00,Right behind you...
21,313893099,3,València,False,False,es,2022-03-10 07:29:46+00:00,València
23,1242037240777277441,137,"Sevilla, España",False,False,es,2022-03-10 07:29:45+00:00,Sevilla
25,863844139485601794,31,Cuba,False,False,es,2022-03-10 07:29:44+00:00,Cuba
27,165860347,0,España,False,True,es,2022-03-10 07:29:42+00:00,España
28,3070543822,276,Mérida - Venezuela,False,True,es,2022-03-10 07:29:42+00:00,Mérida - Venezuela
29,52229049,2896,chile,False,True,es,2022-03-10 07:29:41+00:00,chile
30,192788128,829,Ecuador,False,True,es,2022-03-10 07:29:40+00:00,Ecuador
32,705705331,105,"Sevilla, España",False,False,es,2022-03-10 07:29:39+00:00,Sevilla
33,142780014,183,Depende...,False,True,es,2022-03-10 07:29:37+00:00,Depende...
35,276257973,0,España,False,False,es,2022-03-10 07:29:36+00:00,España
37,308560113,52,"Parla, Comunidad de Madrid",False,True,es,2022-03-10 07:29:36+00:00,Parla
38,276257973,0,España,False,False,es,2022-03-10 07:29:36+00:00,España
39,400574573,13,California,False,True,es,2022-03-10 07:29:36+00:00,California
43,86620254,97,Venezuela,False,True,es,2022-03-10 07:29:33+00:00,Venezuela
44,1492450696721018880,208,"Valencia, España",False,False,es,2022-03-10 07:29:33+00:00,Valencia
45,1218044404298059776,74,"Oviedo, España",False,False,es,2022-03-10 07:29:33+00:00,Oviedo
46,382765425,1521,Madrid,False,False,es,2022-03-10 07:29:31+00:00,Madrid
48,295204837,1,"Comunidad de Madrid, España",False,True,es,2022-03-10 07:29:29+00:00,Comunidad de Madrid
49,1367963066743353344,0,La millor Terreta de lo Món,False,False,es,2022-03-10 07:29:29+00:00,La millor Terreta de lo Món
51,220200272,77,El Vigia-Merida-Venezuela,False,True,es,2022-03-10 07:29:28+00:00,El Vigia-Merida-Venezuela
54,192788128,954,Ecuador,False,True,es,2022-03-10 07:29:26+00:00,Ecuador
56,2831513832,1,Galicia,False,True,es,2022-03-10 07:29:26+00:00,Galicia
57,41123392,4,São Leopoldo,False,True,es,2022-03-10 07:29:25+00:00,São Leopoldo
58,1135610265972727808,345,🇱🇷 Oklahoma🇺🇦🙏🏼🌻💕🕊,False,False,es,2022-03-10 07:29:25+00:00,🇱🇷 Oklahoma🇺🇦🙏🏼🌻💕🕊
60,1325322544988221443,18,México/Nueva España,False,False,es,2022-03-10 07:29:24+00:00,México/Nueva España
62,1436600333338353669,0,🗺,False,False,es,2022-03-10 07:29:23+00:00,🗺
65,1397681888,1088,España,False,False,es,2022-03-10 07:29:23+00:00,España
67,1489631463213617152,32,"#Matanzas, #Cuba",False,False,es,2022-03-10 07:29:22+00:00,#Matanzas
68,237400862,47,España,False,False,es,2022-03-10 07:29:22+00:00,España
69,280433915,1,Burgos,False,True,es,2022-03-10 07:29:21+00:00,Burgos
70,525808833,44,Betanzos,False,False,es,2022-03-10 07:29:21+00:00,Betanzos
72,3073369533,42,Marte... Bueno... Pronto..,False,False,es,2022-03-10 07:29:20+00:00,Marte... Bueno... Pronto..
74,183275988,0,"Barcelona ,España",False,True,es,2022-03-10 07:29:19+00:00,Barcelona
75,16199328,2,Donosti,False,True,es,2022-03-10 07:29:19+00:00,Donosti
76,910437895,206,Bарна Bulgaria,False,True,es,2022-03-10 07:29:17+00:00,Bарна Bulgaria
77,1647614540,0,"Madrid, España",False,False,es,2022-03-10 07:29:17+00:00,Madrid
78,46668976,0,Zaragoza,False,True,es,2022-03-10 07:29:17+00:00,Zaragoza
80,821206428,0,Madrid,False,True,es,2022-03-10 07:29:15+00:00,Madrid
82,63755590,2149,España,False,True,es,2022-03-10 07:29:15+00:00,España
83,410128853,0,Valencia (Spain),False,True,es,2022-03-10 07:29:13+00:00,Valencia (Spain)

In [10]:
#FUNCION PARA OBTENER LATITUD Y LONGITUD DE LAS CIUDADES DE LOS USUARIOS
#Get Lat & Lon"
data_lat = []
data_lon = []

cities =[]
countries =[]

for index, row in df_join.iterrows():
    city = str(row['City'])  
    if city not in cities :    

        Query_url= ('http://api.openweathermap.org/geo/1.0/direct?q='+city+'&limit=1&appid='+open_weather_API)

        try:
            r = requests.get(Query_url)
            data = r.json()[0]
            Lat = str(data['lat'])
            Lon = str(data['lon'])
            Country = str(data['country'])
            data_lat.append(Lat)
            data_lon.append(Lon)
            cities.append(city)
            countries.append(Country)


            print("La latitud de "+city+" es = "+Lat)
            
        except Exception as e :
            data_lat.append(np.NaN)
            data_lon.append(np.NaN)
            countries.append(np.NaN)

            
            print("Error desconociddo, status code =", e)
    else :
            data_lat.append(np.NaN)
            data_lon.append(np.NaN)
            countries.append(Country)


    
print(data_lat)
df_join['Lat']=data_lat
df_join['Lon']=data_lon
df_join['Country']=countries

#SI LA CIUDAD NO SE ENCUENTRA, SE PONDRA UN NAN EN LA CELDA

La latitud de Elche es = 38.2653307
La latitud de Madrid es = 40.4167047
La latitud de Warsaw es = 52.2319581
La latitud de España es = -27.444007650000003
La latitud de Terrassa es = 41.5629623
Error desconociddo, status code = list index out of range
La latitud de València es = 39.4697065
La latitud de Sevilla es = 37.3886303
La latitud de Cuba es = 40.5916447
Error desconociddo, status code = list index out of range
La latitud de chile es = -4.889262
La latitud de Ecuador es = -3.48444
Error desconociddo, status code = list index out of range
La latitud de Parla es = 40.2373952
La latitud de California es = 38.628683
La latitud de Venezuela es = 21.7392862
La latitud de Valencia es = 39.4697065
La latitud de Oviedo es = 43.3605977
Error desconociddo, status code = list index out of range
Error desconociddo, status code = list index out of range
Error desconociddo, status code = list index out of range
La latitud de Galicia es = 4.1721624
La latitud de São Leopoldo es = -29.7544405
La latitud de 🇱🇷 Oklahoma🇺🇦🙏🏼🌻💕🕊 es = 40.5814403
Error desconociddo, status code = list index out of range
Error desconociddo, status code = list index out of range
Error desconociddo, status code = 0
La latitud de Burgos es = 42.343926
La latitud de Betanzos es = 43.2729197
Error desconociddo, status code = list index out of range
La latitud de Barcelona  es = 41.3828939
Error desconociddo, status code = list index out of range
Error desconociddo, status code = list index out of range
La latitud de Zaragoza es = 41.6521342
Error desconociddo, status code = list index out of range
['38.2653307', '40.4167047', '52.2319581', '-27.444007650000003', nan, nan, '41.5629623', nan, nan, '39.4697065', '37.3886303', '40.5916447', nan, nan, '-4.889262', '-3.48444', nan, nan, nan, '40.2373952', nan, '38.628683', '21.7392862', '39.4697065', '43.3605977', nan, nan, nan, nan, nan, '4.1721624', '-29.7544405', '40.5814403', nan, nan, nan, nan, nan, '42.343926', '43.2729197', nan, '41.3828939', nan, nan, nan, '41.6521342', nan, nan, nan]

In [12]:
#ELIMINAR TWEETS SIN CIUDAD
df_clean = df_join.dropna()
#df_clean.count()

In [13]:
df_clean

,User_id,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date,City,Lat,Lon,Country
0,855818407811461121,2,"Táchira, Venezuela",False,True,es,2022-03-09 17:27:36+00:00,Táchira,0.0258243,-80.0116682,EC
2,133674408,44,Islas Canarias,False,True,es,2022-03-09 17:27:36+00:00,Islas Canarias,28.2935785,-16.621447121144122,ES
5,463605537,8,Madrid,False,True,es,2022-03-09 17:27:36+00:00,Madrid,40.4167047,-3.7035825,ES
7,1473705342429192206,5,"Vigo, España",False,False,es,2022-03-09 17:27:35+00:00,Vigo,42.2376602,-8.7247205,ES
9,570940166,161,Acapulco,False,True,es,2022-03-09 17:27:35+00:00,Acapulco,16.8680495,-99.8940182,MX
...,...,...,...,...,...,...,...,...,...,...,...
464,210078288,12,ARGENTINA,False,True,es,2022-03-09 17:26:05+00:00,ARGENTINA,4.92335675,-75.78583616581926,CO
469,1057738297710166016,71,"Maracay, Venezuela",False,False,es,2022-03-09 17:26:04+00:00,Maracay,10.2375144,-67.5890216,VE
470,86384171,2,"Bogota D.C , Colombia",False,True,es,2022-03-09 17:26:04+00:00,Bogota D.C,4.6534649,-74.0836453,CO
474,1946130338,10,"Molins de Rei, España",False,False,es,2022-03-09 17:26:03+00:00,Molins de Rei,41.4138087,2.0159626,ES
475,48257169,5,Pamplona,False,True,es,2022-03-09 17:26:03+00:00,Pamplona,42.8184538,-1.6442556,ES

In [14]:
#Save Data Into CSV
#df.to_csv('Twitter_data.csv')
#df_clean.to_csv('User_Data.csv')

In [15]:
#Send Data to Data BAse
df.to_sql('Twitter_data', engine,if_exists='replace')
df_clean.to_sql('User_Data', engine,if_exists='replace')

In [16]:
#UNIR DATA FRAMES
df_final = df.set_index('User_id').join(df_clean.set_index('User_id'))
df_final_2 = df_final.dropna()
df_final_2

,User,Tweet,Sentiment,Retweet_Count,Location,Verified_Account,Geo_enabled,Lang,Post Date,City,Lat,Lon,Country
User_id,,,,,,,,,,,,,
10012122,bbcmundo,"Rusia y Ucrania: Coca-Cola, Pepsi, McDonald's ...",Negative,1.0,"Londres, Inglaterra.",True,True,es,2022-03-09 17:27:02+00:00,Londres,51.5073219,-0.1276474,GB
14159461,wakeUPChile,@RolandoMartine9 Coca Cola dijo que seguiría e...,Negative,0.0,"Santiago, Chile",False,True,es,2022-03-09 17:27:14+00:00,Santiago,9.8694792,-83.7980749,CR
17688757,didaclopez,@_traci_a @TietaFarteta @netflix Pues ya no la...,Positive,0.0,Esplugues de Llobregat,False,True,es,2022-03-09 17:26:24+00:00,Esplugues de Llobregat,41.3776796,2.0899722,ES
19918524,vicentelozano,"@pepecorbillon De momento, son conversaciones ...",Negative,0.0,"Majadahonda, Madrid (Spain)",False,True,es,2022-03-09 17:26:06+00:00,Majadahonda,40.473055,-3.8724138,ES
25101146,jvargasgp,RT @LeonKrauze: Aislada.\nEmpobrecida.\nRepudi...,Negative,243.0,"Aguascalientes, México",False,True,es,2022-03-09 17:26:05+00:00,Aguascalientes,21.8806553,-102.2961323,MX
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475427567947689986,fzjulian16,RT @Alerta_News_: 🇷🇺🇺🇦|GUERRA RUSIA-UCRANIA: H...,Negative,102.0,"Cali, Colombia",False,False,es,2022-03-09 17:27:33+00:00,Cali,3.4517923,-76.5324943,CO
1480918271260086279,c0mun4ch02,Hay menos tiros a civiles en las zonas ocupada...,Negative,0.0,"Granada, España",False,False,es,2022-03-09 17:27:11+00:00,Granada,37.1734995,-3.5995337,ES
1493170221125083136,DerFekken,RT @Carmen57_54: @DerFekken Rusia tiene una di...,Positive,1.0,"Suzuka, Jpn 🇯🇵",False,False,es,2022-03-09 17:27:06+00:00,Suzuka,34.8817102,136.5836516,JP
1493707333536526340,EmiGomez1994,RT @therealbuni: Rusia: bombardea un hospital ...,Negative,5.0,"González Catán, Argentina",False,True,es,2022-03-09 17:26:26+00:00,González Catán,-34.769249,-58.6480318,AR
1498313166203277315,pardini_dani,@maximmontenegro @BuryaileRicardo @fervallejos...,Negative,0.0,"Flores, CABA, Argentina",False,False,es,2022-03-09 17:26:38+00:00,Flores,-8.50998605,120.59815014763521,ID

In [17]:
#engine = create_engine('postgresql://postgres:postgres@tw-database.cusa4qve384u.us-east-1.rds.amazonaws.com:5432/postgres')
df_final_2.to_sql('Tweet_User', engine,if_exists='replace')

In [18]:
#r = requests.get('http://api.openweathermap.org/geo/1.0/direct?q=acapulco&limit=5&appid=3807f646ceb305ae314ef537d740df20')

#data = r.json()[0]
#data

In [19]:
df_grouped=df_final_2.groupby('Country').sum()
print(df_grouped)

         Retweet_Count
Country
AE               161.0
AR              1605.0
BA                 0.0
BR               276.0
CL               300.0
CO              1121.0
CR                 0.0
CU               151.0
DO                36.0
EC                 9.0
ES              2843.0
FR                 0.0
GB               661.0
ID                 0.0
IR                 1.0
IT                36.0
JP              1341.0
MX              4779.0
PA                 3.0
PE               134.0
PH                 0.0
UA              2370.0
US              1361.0
UY                 0.0
VA                37.0
VE               965.0

In [20]:
#FUNCION PARA OBTENER LAS 50 PALABRAS MAS FRECUENTES DE TODOS LOS TWEETS

#KEYS=(PALABRA MAS FRECUENTE, NUMERO DE VECES QUE APARECE)
keys = ('word','size')

#PASAR LOS TWEETS A UNA LISTA
Tweets = df_final_2['Tweet'].tolist()

temp = [wrd for sub in Tweets for wrd in sub.split()]
words_list=[]
for words in temp:
    #CONVERTIR A LETRAS MINUSCULAS 
    words = words.lower()
    # SI LA PALARA NO ESTA EN LA LISTA, AGREGALA 
    if words not in list_of_lists and len(words)>1:
        for character in string.punctuation:
            words = words.replace(character,"")
        words_list.append(words)

try:
    res = mode(words_list)
    print("Word with maximum frequency : " + str(res))

    #Get top 10 most common words of a list
    Counters_found = Counter(words_list)
    most_occur = Counters_found.most_common(50)
    print(most_occur)
    print(get_list_of_dict(keys, most_occur))
except:
    most_occur = words_list
    print('Exception')

Word with maximum frequency : rusia
[('rusia', 87), ('ucrania', 36), ('hospital', 20), ('eeuu', 16), ('niños', 11), ('mariupol', 9), ('putin', 8), ('guerra', 8), ('ruso', 7), ('rusos', 7), ('menos', 7), ('infantil', 6), ('laboratorios', 6), ('cnnee', 6), ('gas', 5), ('armas', 5), ('bajo', 5), ('escombros', 5), ('mundo', 5), ('quiere', 5), ('httpstc…', 5), ('civiles', 5), ('otan', 5), ('zelenski', 5), ('ucranianos', 5), ('empresas', 4), ('europa', 4), ('última', 4), ('hora', 4), ('materno', 4), ('ciudad', 4), ('dice', 4), ('bombardeó', 4), ('de', 4), ('quién', 4), ('si', 4), ('maternal', 4), ('ataque', 4), ('terribles', 4), ('puede', 4), ('insta', 4), ('invasión', 4), ('ser', 4), ('cocacola', 3), ('mcdonalds', 3), ('dijo', 3), ('actividades', 3), ('van', 3), ('ver', 3), ('aunque', 3)]
[{'word': 'rusia', 'size': 87}, {'word': 'ucrania', 'size': 36}, {'word': 'hospital', 'size': 20}, {'word': 'eeuu', 'size': 16}, {'word': 'niños', 'size': 11}, {'word': 'mariupol', 'size': 9}, {'word': 'putin', 'size': 8}, {'word': 'guerra', 'size': 8}, {'word': 'ruso', 'size': 7}, {'word': 'rusos', 'size': 7}, {'word': 'menos', 'size': 7}, {'word': 'infantil', 'size': 6}, {'word': 'laboratorios', 'size': 6}, {'word': 'cnnee', 'size': 6}, {'word': 'gas', 'size': 5}, {'word': 'armas', 'size': 5}, {'word': 'bajo', 'size': 5}, {'word': 'escombros', 'size': 5}, {'word': 'mundo', 'size': 5}, {'word': 'quiere', 'size': 5}, {'word': 'httpstc…', 'size': 5}, {'word': 'civiles', 'size': 5}, {'word': 'otan', 'size': 5}, {'word': 'zelenski', 'size': 5}, {'word': 'ucranianos', 'size': 5}, {'word': 'empresas', 'size': 4}, {'word': 'europa', 'size': 4}, {'word': 'última', 'size': 4}, {'word': 'hora', 'size': 4}, {'word': 'materno', 'size': 4}, {'word': 'ciudad', 'size': 4}, {'word': 'dice', 'size': 4}, {'word': 'bombardeó', 'size': 4}, {'word': 'de', 'size': 4}, {'word': 'quién', 'size': 4}, {'word': 'si', 'size': 4}, {'word': 'maternal', 'size': 4}, {'word': 'ataque', 'size': 4}, {'word': 'terribles', 'size': 4}, {'word': 'puede', 'size': 4}, {'word': 'insta', 'size': 4}, {'word': 'invasión', 'size': 4}, {'word': 'ser', 'size': 4}, {'word': 'cocacola', 'size': 3}, {'word': 'mcdonalds', 'size': 3}, {'word': 'dijo', 'size': 3}, {'word': 'actividades', 'size': 3}, {'word': 'van', 'size': 3}, {'word': 'ver', 'size': 3}, {'word': 'aunque', 'size': 3}]

In [21]:
#CREAR DICCIONARIO CON LA LISTA DE PALABRAS 
d={"data": get_list_of_dict(keys, most_occur)}
#ABRIR ARCHIVO DE JS COMO PLANTILLA
file_to_write = open("D3/data1.js", "r")
src=Template(file_to_write.read())
#SUSTITUIR CON  DAOS NUEVOS 
result= src.substitute(d)
file_to_write.close()

#ESCRIBIR DATOS NUEVOS EN ARCHIVO JS
file2= open('/Users/danie/Desktop/BootCAmp_Final_Proyect/static/words_cloud_data.js',"w")
file2.writelines(result)
file2.close()

In [22]:
#OBTENER TOTAL DE RETWEETS
retweet_count = df_final_2['Tweet'].count()
retweet_count

119

In [29]:
#OBTENER EL TOTAL DE TWEETS
total_tweets= df_final_2['Retweet_Count'].sum()
total_tweets

18190.0

In [24]:
df2= df_final_2[['Lat','Lon']]
df2

                             Lat                 Lon
User_id
10012122              51.5073219          -0.1276474
14159461               9.8694792         -83.7980749
17688757              41.3776796           2.0899722
19918524               40.473055          -3.8724138
25101146              21.8806553        -102.2961323
...                          ...                 ...
1475427567947689986    3.4517923         -76.5324943
1480918271260086279   37.1734995          -3.5995337
1493170221125083136   34.8817102         136.5836516
1493707333536526340   -34.769249         -58.6480318
1498313166203277315  -8.50998605  120.59815014763521

[119 rows x 2 columns]

In [25]:
df

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [16]:
from pyspark import SparkContext
sc = SparkContext('local')